<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
        <h1>Calculator</h1>
    <form action="#" th:action="@{/calculator}" method="post">
        <p>Equation: <label>
            <input type="text" name = "expression" />
        </label></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

    <!--/*@thymesVar id="result" type="string"*/-->
    <p th:text="'Result: ' + ${result}"></p>
</body>
</html>